@page "/foods/edit/{id:int}"
@using Microsoft.EntityFrameworkCore
@using Dinesaur.Domain
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authenticationStateProvider
@rendermode InteractiveServer
@inject IJSRuntime JS
@inject ScaniiClient ScaniiClient
@using System.Text.Json;
@using System.Text.Json.Serialization
<PageTitle>Edit</PageTitle>
<container style="text-align:center; margin-top:40px; color:white;">
<h1>Edit Food</h1>
@* Page to edit the food (any component of it) *@
<hr />
@if (Food is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
            <div class="col-md-4 offset-md-4">
            <EditForm method="post" Model="Food" OnValidSubmit="UpdateFood" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Food.FoodID" value="@Food.FoodID" />
                <div class="mb-3">
                    <label for="foodname" class="form-label">Food Name:</label>
                    <InputText id="foodname" @bind-Value="Food.FoodName" class="form-control" />
                    <ValidationMessage For="() => Food.FoodName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="cost" class="form-label">Cost: ($)</label>
                    <InputNumber id="cost" @bind-Value="Food.Cost" class="form-control" />
                    <ValidationMessage For="() => Food.Cost" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Food.Description" class="form-control" />
                    <ValidationMessage For="() => Food.Description" class="text-danger" />
                </div>
                     <div class="mb-3">
                        <label for="category" class="form-label" style="color:white;">Category:</label>
                        <InputSelect id="itemcategory" @bind-Value="Food.Category" class="form-select">
                            @foreach (string category in Categories)
                            {
                                <option value="@category">@category</option>
                            }

                        </InputSelect>
                        <ValidationMessage For="() => Food.Category" class="text-danger" />
                    </div> 
                    <container>
                        <div class="mb-3">
                            <label for="IMG" class="form-label" style="color:white;"> Upload Image of Food: </label>
                            <InputFile id="image" OnChange="@LoadIMG" class="form-control" />
                        </div>
                        @if (Errors.Any())
                        {
                            <br />
                            <div class="alert alert-danger mb-3" role="alert" style="">
                                **Errors in Uploading Logo:**
                                <ul>
                                    @foreach (var err in Errors)
                                    {
                                        <li>@err</li>
                                    }
                                </ul>
                            </div>
                        }
                        @if (Food.Image.Any())
                        {
                            <br />
                            <div class="mb-3">Photo of food to be updated</div>
                            <div class="d-flex flex_wrap gap-3">
                                
                                <div class="card p-2" style="width: 480px"> 
                                    <img src="@Food.Image.FirstOrDefault()" style="width: 100%; height: auto; object-fit: cover" alt="Uploaded Image" />
                                </div>

                            </div>
                            <br />
                        }
                    </container>
                <div class="mb-3" hidden>
                    <label for="staffid" class="form-label" >StaffID:</label>
                    <InputText id="staffid" @bind-Value="Food.StaffID" class="form-control" />
                    <ValidationMessage For="() => Food.StaffID" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="menuid" class="form-label">MenuID:</label>
                    <InputNumber id="menuid" @bind-Value="Food.MenuID" class="form-control" />
                    <ValidationMessage For="() => Food.MenuID" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}
<br />
<div>
    <a href="/menus">Back to List</a>
</div>
</container>
<script>
    function noIMG() {
        alert("Image uploaded is not allowed pick another");
    }
    function showCleanIMG() {
        alert("Image uploaded is clean and saved");
    }
    function showBadIMG() {
        alert("Image uploaded is not clean and rejected");
    }
</script>
@code {
    [Parameter]
    public int id { get; set; } Food? food;
    private List<string> Categories = new List<string>();
    [SupplyParameterFromForm]
    private Food? Food { get; set; }
    private int RId;
    private string? ROwnerId;
    private const int maxIMGFileSize = 5000000;
    private List<string> Errors = new List<string>();
    private string? scanJson;
    public class ScaniiResponse
    {
        [JsonPropertyName("findings")]
        public List<object>? Findings { get; set; }
    }
    protected override async Task OnInitializedAsync() //get all details to pre set the input boxes with the current details 
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var aspNetUserId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        using var context = DbFactory.CreateDbContext();
        await using var db = await DbFactory.CreateDbContextAsync();
        Food ??= await context.Food.FirstOrDefaultAsync(m => m.FoodID == id);
        var RDetails = await db.Restaurant
       .Where(r => r.RestaurantOwnerID == aspNetUserId)
       .Select(r => new
       {
           r.RestaurantID,
           r.RestaurantOwnerID
       }).SingleOrDefaultAsync();
        RId = RDetails.RestaurantID;
        ROwnerId = RDetails.RestaurantOwnerID;
        var ListofCategories = await db.Menu
        .Where(m => m.RestaurantID == RId)
        .Select(m => m.Catergories)
        .SingleOrDefaultAsync();
        Categories = ListofCategories;
        if (Food is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
    private async Task LoadIMG(InputFileChangeEventArgs f) //load image uploaded and display warning if uploaded file is not suitable
    {
        Errors.Clear();
        var files = f.GetMultipleFiles();
        var IMG = files.FirstOrDefault();
        if (IMG.Size > maxIMGFileSize)
        {
            Errors.Add($"File {IMG.Name} exceeds the maximum size of {maxIMGFileSize} bytes.");

        }

        if (!IMG.ContentType.StartsWith("image/"))
        {
            Errors.Add($"File {IMG.Name} is not a supported image format.");
        }
        using (var mms = new MemoryStream())
        {
            await IMG.OpenReadStream(maxIMGFileSize).CopyToAsync(mms);
            var fileBytes = mms.ToArray();
            await using var scanStream = new MemoryStream(fileBytes);
            scanJson = await ScaniiClient.ScanAsync( //get all details of the image uploaded
                scanStream,
                IMG.Name,
                IMG.ContentType,
                CancellationToken.None
            );
            var scan = JsonSerializer.Deserialize<ScaniiResponse>(scanJson); //gets the details of the scan of image but only the findings (the important part)
            if (scan?.Findings != null && scan.Findings.Count > 0) //if image is bad, findings will have string in it
            {
                await JS.InvokeVoidAsync("showBadIMG");
                Food.Image.Clear(); // ensure nothing is shown/saved

            }
            else
            {
                String base64String = Convert.ToBase64String(fileBytes);
                string image = $"data:{IMG.ContentType};base64,{base64String}";
                if (Food.Image.Count() > 0)
                {
                    Food.Image.Clear();
                }
                Food.Image.Add(image);
                await JS.InvokeVoidAsync("showCleanIMG"); //image uploaded is clean
            }
        }
        await JS.InvokeVoidAsync("console.log", scanJson); // be able to view the result
        StateHasChanged();
    }

    private async Task UpdateFood() //update details of food, if image is not allowed, does not update
    {
        if (Errors.Any())
        {
            await JS.InvokeVoidAsync("noIMG");
        }
        else
        {
            using var context = DbFactory.CreateDbContext();
            context.Attach(Food!).State = EntityState.Modified;

            try
            {
                await context.SaveChangesAsync();
            }
            catch (DbUpdateConcurrencyException)
            {
                if (!FoodExists(Food!.FoodID))
                {
                    NavigationManager.NavigateTo("notfound");
                }
                else
                {
                    throw;
                }
            }

            NavigationManager.NavigateTo("/menus");
        }
       
    }

    private bool FoodExists(int foodid) // get details on the current food item to be edited and check if it does exist in the database
    {
        using var context = DbFactory.CreateDbContext();
        return context.Food.Any(e => e.FoodID == foodid);
    }
}
