@*Users View Their Bookings*@

@*Page Link*@
@page "/MyBookings" 

@*Imports*@
@using Dinesaur.Domain
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider Auth
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@attribute [Authorize(Roles = "User,Admin")]
@*Container*@
<div style="display: flex; flex-direction:column">

    @*Banner*@
    <div style="background-color: black; height: auto; text-align: left; display: flex; flex-direction: column; padding: 20px; background-color: rgb(0,0,0,60%)">
        <h1 style="margin-top: 100px; margin-bottom: 20px; text-align: left">My Bookings</h1>
        <div style="background-color: white; display: grid; grid-template-columns:repeat(auto-fit, minmax(150px, 1fr)); gap: 10px; border-radius: 10px;  padding: 5px; width: 50%;">
            <a style="background-color: #386641;
                        color:white ; 
                        border-radius: 5px; 
                        padding: 10px; 
                        font-weight:bold;
                        text-align: center"
                @onclick="() => GetBookings(1)">
            Upcoming
            </a>
            <a style="background-color: #24462C;
                        color:white ;
                        border-radius: 5px;
                        padding: 10px;
                        font-weight:bold;
                        text-align: center"
                    @onclick="() => GetBookings(2)">
            Completed
            </a>
            <a style="background-color: darkred;
                        color:white ;
                        border-radius: 5px;
                        padding: 10px;
                        font-weight:bold;
                        text-align: center"
               @onclick="() => GetBookings(3)">
                Cancelled
            </a>
        </div>
    </div>

    @*Bookings Displayed Here*@
    <div style="display: flex; gap: 25px; flex-direction: column; padding: 50px;">
        @if (BookingTab.Count == 0)
        {
            <h2><em>No @tabHeader Bookings</em></h2>
            <a style="padding: 20px; font-size: 25px; font-weight: bold; background-color: black; color: white; border-radius: 15px;" href="/User/Home"> Find Restaurants</a>
        } 
        
        else{
            @*Display Reservations Upcoming*@
            <h2 style="font-weight: bold"> @tabHeader Bookings</h2>
            @foreach (var booking in BookingTab)
            {
                    @*Pull Restaurant Info*@
                    var restaurant = restaurants.Find(r => r.RestaurantID == booking.RestaurantID);

                    <a @onclick="() => OpenDetails(booking)">
                        <div style="z-index: 1000; position: relative; cursor: pointer;">
                            <div style="width: 100%; height: auto; background-color: #386641; border-radius: 15px; pointer-events: none; padding: 20px;">
                                <div style="display: grid; grid-template-columns: 90% 1fr;">
                                    <div>
                                        <h4 style="font-weight: bold; color: #88E788">@restaurant.RestaurantName</h4>
                                        <p style="color:white">
                                            @restaurant.Location <br />
                                            @booking.Date.Value.ToString("dd MMMM") - @booking.Time.Value.ToString("h:mm tt")
                                        </p>
                                    </div>
                                    <div style="display: flex; height: 100%; justify-content: center;">
                                        <a style="width: 100%; height: 100%; padding: 10px; font-size: 20px; font-weight: bold; background-color: #88E788; color: black; border-radius: 15px; text-align: center; align-content: center" @onclick="() => OpenDetails(booking)">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }
        } 
    </div>

    @*Show Details Pop Up*@
    @if (ShowPopUp && SelectedReservation != null)
    {
        <div class="modal-backdrop" @onclick="CloseDetails">

            <div class="modal-card" @onclick:stopPropagation>
                <button class="close-btn" @onclick="CloseDetails">✕</button>

                <h2 style="color: #88E788">@SelectedRestaurant.RestaurantName</h2>

                <div class="reservation-detail">
                    <span class="reservation-label">Location:</span>
                    <span class="reservation-value">@SelectedRestaurant.Location</span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Timing:</span>
                    <span class="reservation-value">
                        @SelectedReservation.Date.Value.ToString("dd MMMM yyyy") - @SelectedReservation.Time.Value.ToString("h:mm tt")
                    </span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Status:</span>
                    <span class="reservation-value">@SelectedReservation.Status</span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Number of People:</span>
                    <span class="reservation-value">@SelectedReservation.Pax</span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Remarks:</span>
                    <span class="reservation-value">
                        @(string.IsNullOrWhiteSpace(SelectedReservation.Remarks) ? "N/A" : SelectedReservation.Remarks)
                    </span>
                </div>

                <div class="modal-buttons">
                    <a class="secondary-btn" href="/Restaurants/@SelectedRestaurant.RestaurantID#start">
                        View Restaurant
                    </a>
                    <a class="secondary-btn" @onclick="@ViewPreOrderReceipt">
                        View Pre-Order
                    </a>
                    @switch (SelectedReservation.Status)
                    {
                        case Reservation.ReservationStatus.Pending:
                            <a class="primary-btn" @onclick="EditEligibility">
                                Edit Booking
                            </a>
                            <a class="danger-btn" @onclick="ShowCancelReservation">
                                Cancel Booking
                            </a>
                            break;
                        case Reservation.ReservationStatus.Confirmed:
                            <a class="primary-btn" @onclick="EditEligibility">
                                Edit Booking
                            </a>
                            <a class="danger-btn" @onclick="ShowCancelReservation">
                                Cancel Booking
                            </a>
                            break;
                        case Reservation.ReservationStatus.Completed:
                            if (SelectedReservation.ReviewID != null)
                            {
                                if (SelectedReview.Status == Review.ApprovalStatusReviews.Removed)
                                {
                                    <a class="danger-btn">
                                        Review Removed
                                    </a>
                                }
                                else { 
                                <a class="primary-btn" @onclick="OpenReviewPopUp">
                                    View Review </a>   
                                }
                            }
                            else 
                            {
                                <a class="primary-btn" href="/Review/Create/@SelectedReservation.ReservationID">Leave a Review</a>
                            }
                            break;
                    }
                </div>
            </div>
        </div>
 

    }

    @*Show Review Pop Up*@
    @if (reviewPopUp)
    {
        <div class="modal-backdrop" @onclick="CloseReviewPopUp">

            <div class="modal-card" @onclick:stopPropagation>
                <button class="close-btn" @onclick="CloseReviewPopUp">✕</button>
                <h2 style="color: #88E788">Review</h2>

                <div class="reservation-detail">
                    <span class="reservation-label">Title:</span>
                    <span class="reservation-value">@SelectedReview.ReviewTitle</span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Reservation Slot:</span>
                    <span class="reservation-value">
                        @SelectedReservation.Date.Value.ToString("dd MMMM yyyy") - @SelectedReservation.Time.Value.ToString("hh:mm tt")
                    </span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Rating:</span>
                    <span style="color:yellow " class="reservation-value">@SelectedReview.Rating ★</span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Description:</span>
                    @if (SelectedReview.Description.Length > 50)
                    {
                        <span class="reservation-value">
                            @(string.IsNullOrWhiteSpace(SelectedReview.Description) ? "N/A" : SelectedReview.Description.Substring(0, 50))...
                        </span>
                    }
                    else
                    {
                        <span class="reservation-value">
                            @(string.IsNullOrWhiteSpace(SelectedReview.Description) ? "N/A" : SelectedReview.Description)
                        </span>
                    }
                </div>

                <div class="modal-buttons">
                    <a class="secondary-btn" @onclick="CloseReviewPopUp">
                        Back
                    </a>
                    <a class="primary-btn" href="/Review/Edit/@SelectedReview.ReviewID">
                        Edit Review
                    </a>
                    <a class="danger-btn" @onclick="ShowCancelReview">
                        Delete Review
                    </a>
                </div>
            </div>
        </div>

    }

    @*Alert Shown When Reservation cannot be edited*@
    @if (showEditDenied)
    {
        <div class="confirm-overlay" @onclick="() => showEditDenied = false">
            <div class="confirm-modal" @onclick:stopPropagation>
                <h2 style="color: #88E788">Unable to Edit</h2>
                <p>Booking cannot be edited less then an hour from Booking</p>
                <div class="modal-buttons">
                    <button class="secondary-btn" @onclick="() => showEditDenied = false">Close</button>
                </div>
            </div>
        </div>
    }

    @*Show Cancel Reservation Confirm Pop Up*@
    @if (showCancelReservation)
    {
        <div class="modal-backdrop" @onclick="CloseCancelReservation">

            <div class="modal-card" @onclick:stopPropagation>
                <button class="close-btn" @onclick="CloseCancelReservation">✕</button>
                <h2 style="color: #88E788">Cancel Booking:</h2>
                <p style="color: white">Are you sure of cancelling this booking?</p>
                <div class="modal-buttons">
                    <button class="danger-btn" @onclick="CancelReservation">Yes</button>
                    <button class="secondary-btn" @onclick="CloseCancelReservation">No</button>
                </div>
            </div>
        </div>

    }

    @*Show Cancel Review Confirm Pop Up*@
    @if (showCancelReview)
    {
        <div class="modal-backdrop" @onclick="CloseCancelReview">

            <div class="modal-card" @onclick:stopPropagation>
                <button class="close-btn" @onclick="CloseCancelReview">✕</button>
                <h2 style="color: #88E788">Remove Review:</h2>
                <p style="color: white">Are you sure you want to remove this review?</p>
                <div class="modal-buttons">
                    <button class="danger-btn" @onclick="CancelReview">Yes</button>
                    <button class="secondary-btn" @onclick="CloseCancelReview">No</button>
                </div>
            </div>
        </div>

    }

    @*Show Confirmation Of Reservation*@
    @if (cancelReservationConfirmationPopUp)
    {
        <div class="modal-backdrop" @onclick="CloseCancelReservationConfirmationPopUp">

            <div class="modal-card" @onclick:stopPropagation>
                <h2 style="color: #88E788">Booking Cancelled</h2>
                <p style="color: white">Booking has been successfully cancelled.</p>
                <div class="modal-buttons">
                    <button class="secondary-btn" @onclick="CloseCancelReservationConfirmationPopUp">Back</button>
                </div>
            </div>
        </div>

    }

    @*Show Confirmation Of Review Removal*@
    @if (removeReviewConfirmationPopUp)
    {
        <div class="modal-backdrop" @onclick="CloseRemoveReviewConfirmationPopUp">

            <div class="modal-card" @onclick:stopPropagation>
                <h2 style="color: #88E788">Review Removed</h2>
                <p style="color: white">Booking has been successfully removed.</p>
                <div class="modal-buttons">
                    <button class="secondary-btn" @onclick="CloseRemoveReviewConfirmationPopUp">Back</button>
                </div>
            </div>
        </div>

    }
</div>


@code {

    private List<Reservation> userBookings = new();
    private List<Review> userReviews = new();
    private List<Restaurant> restaurants;
    private string aspNetUserId;

    protected override async Task OnParametersSetAsync()
    {
        @*Get Logged In User Info*@
        var authState = await Auth.GetAuthenticationStateAsync();
        var user = authState.User;
        if (!user.Identity?.IsAuthenticated ?? true)
        {

            NavigationManager.NavigateTo("/Account/Login");
            return;
        }
        aspNetUserId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        @*Fetch Reservations and Restaurants from Database*@
        using var context = DbFactory.CreateDbContext();
        userBookings = await context.Reservation.Where(r => r.CustomerID == aspNetUserId).ToListAsync();
        userBookings.Sort((x, y) => Nullable.Compare(x.Date, y.Date));
        userReviews = await context.Review.Where(a => a.CustomerID == aspNetUserId).ToListAsync();
        restaurants = await context.Restaurant.ToListAsync();

        
        StateHasChanged();

        @*Check for Query String to determine which tab to open*@
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        if (query["from"] == "completed")
        {
            GetBookings(2);
        }
        else
        {
            GetBookings(1);
        }

        
    }

    @*Navigate to Restaurant Page*@
    void displayRestaurant(Restaurant restaurant)
    {
        NavigationManager.NavigateTo($"/Restaurants/{restaurant.RestaurantID}");
    }

    bool ShowPopUp = false;
    Reservation? SelectedReservation;
    Restaurant? SelectedRestaurant;
    Review? SelectedReview;
    List<Reservation> BookingTab = new();
    string tabHeader = "";

    @*Open Reservation Details Pop Up*@
    void OpenDetails(Reservation reservation)
    {
        SelectedRestaurant = restaurants.Find(r => r.RestaurantID == reservation.RestaurantID);
        SelectedReservation = reservation;
        using var context = DbFactory.CreateDbContext();
        SelectedReview = context.Review.FirstOrDefault(r => r.ReviewID == SelectedReservation.ReviewID);
        ShowPopUp = true;
    }

    @*Close Reservation Details Pop Up*@
    void CloseDetails()
    {
        ShowPopUp = false;
        SelectedReservation = null;
        SelectedRestaurant = null;
    }

    private bool showEditDenied = false;

    @*Check Edit Eligibility*@
    private void EditEligibility()
    {
        if(SelectedReservation.Date - DateTime.Now > TimeSpan.FromHours(1))
        {
            NavigationManager.NavigateTo($"/Reservation/Edit/{SelectedReservation.ReservationID}");
        }
        else
        {
            showEditDenied = true;
        }
    }

    public bool showCancelReservation = false;

    @*Show Cancel Reservation*@
    private void ShowCancelReservation()
    {
        showCancelReservation = true;
    }

    @*Close Cancel Reservation*@
    private void CloseCancelReservation()
    {
        showCancelReservation = false;
    }

    @*Remove Reservation From Database*@
    private async Task CancelReservation()
    {
        using var context = DbFactory.CreateDbContext();
        context.Reservation.Remove(SelectedReservation);
        await context.SaveChangesAsync();
        CloseDetails();
        CloseCancelReservation();
        OpenCancelReservationConfirmationPopUp();
    }

    public bool showCancelReview = false;

    @*Show Cancel Review Pop Up*@
    private void ShowCancelReview()
    {
        showCancelReview= true;
    }

    @*Close Cancel Review Pop Up*@
    private void CloseCancelReview()
    {
        showCancelReview = false;
    }

    @*Remove Review From Database*@
    private async Task CancelReview()
    {
        using var context = DbFactory.CreateDbContext();
        context.Review.Remove(SelectedReview);
        SelectedReservation.ReviewID = null;
        context.Attach(SelectedReservation!).State = EntityState.Modified;
        await context.SaveChangesAsync();
        CloseCancelReview();
        CloseReviewPopUp();
        OpenRemoveReviewConfirmationPopUp();
    }

    private string userSelect = "Upcoming";

    @*Get Bookings Based on Tab Select*@
    private async Task GetBookings(int tab)
    {
        switch (tab)
        {
            case 1:
                BookingTab = userBookings.Where(r => r.Status == Reservation.ReservationStatus.Pending || r.Status == Reservation.ReservationStatus.Confirmed || r.Status == Reservation.ReservationStatus.Ongoing).ToList();
                tabHeader = "Upcoming";
                break;
            case 2:
                BookingTab = userBookings.Where(r => r.Status == Reservation.ReservationStatus.Completed).ToList();
                tabHeader = "Completed";
                break;
            case 3:
                BookingTab = userBookings.Where(r => r.Status == Reservation.ReservationStatus.Cancelled || r.Status == Reservation.ReservationStatus.Absent).ToList();
                tabHeader = "Cancelled";
                break;
            default:
                BookingTab = new List<Reservation>();
                break;
        }
    }

    public bool reviewPopUp = false;

    @*Show Review*@
    private void OpenReviewPopUp()
    {
        reviewPopUp = true;
    }

    @*Close Review*@
    private void CloseReviewPopUp()
    {
        reviewPopUp = false;
    }

    public bool cancelReservationConfirmationPopUp = false;

    @*Show Confirmation of Reservation Cancel*@
    private void OpenCancelReservationConfirmationPopUp()
    {
        cancelReservationConfirmationPopUp = true;
    }

    @*Close Confirmation of Reservation Cancel*@
    private void CloseCancelReservationConfirmationPopUp()
    {
        cancelReservationConfirmationPopUp = false;
        NavigationManager.NavigateTo("/MyBookings", forceLoad: true);
    }

    public bool removeReviewConfirmationPopUp = false;

    @*Show Confirmation of Review Removal*@
    private void OpenRemoveReviewConfirmationPopUp()
    {
        removeReviewConfirmationPopUp = true;
    }

    @*Close Confirmation of Review Removal*@
    private void CloseRemoveReviewConfirmationPopUp()
    {
        removeReviewConfirmationPopUp = false;
    }

    @*To PreOrder*@
    private async Task ViewPreOrderReceipt()
    {
        NavigationManager.NavigateTo($"/Reservation/OrderList/{SelectedReservation.ReservationID}");
    }
}
