@*Edit / Delete Reservation*@

@attribute [Authorize(Roles = "User,Admin")]
@page "/Reservation/Edit/{id:int}"
@using Dinesaur.Domain
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider Auth
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
<div style="display: flex; flex-direction:column">
    @*Banner*@
    <div style="background-color: dimgrey; height: auto; text-align: left; display: flex; flex-direction: column; padding-left: 50px;">
        <h1 style="padding-top: 100px; text-align: left">@selectedRestaurant?.RestaurantName</h1>
                <h2>Edit Reservation</h2>
    </div>
    <div style="padding: 50px 100px">
        <div>
            @* Edit Information of Reservation*@
            <EditForm Model="selectedReservation"OnValidSubmit="EditReservation" FormName="ReservationForm">
                <DataAnnotationsValidator />
                <div class="mb-3">
                    <h4>Date:</h4>
                    <InputDate @bind-Value="selectedReservation.Date"
                               class="form-control" Min="@DateTime.Today" />

                    <h4 class="mt-2">Time:</h4>
                    <input type="time"
                           class="form-control"
                           step="900"
                           min="@selectedRestaurant?.OpeningHours.ToString("HH:mm")"
                           max="@selectedRestaurant?.ClosingHours.ToString("HH:mm")"
                           value="@UiTime.ToString("HH:mm")"
                           @onchange="OnTimeInput" />
                    <ValidationMessage For="@(() => selectedReservation.Time)" />
                    <h4 class="mt-2">Diners (Pax):</h4>
                    <InputNumber @bind-Value="selectedReservation.Pax" class="form-control" Min="1"/>

                    <h4 class="mt-2">Remarks:</h4>
                    <InputText @bind-Value="selectedReservation.Remarks" class="form-control" />

                   
                    
                </div>
                <ValidationSummary/>

                <div style="display: flex; gap: 10px; justify-content: flex-end">
                    <a class="secondary-btn" href="/MyBookings">Back</a>
                    <button type="submit" class="primary-btn">Update</button>
                    <a class="danger-btn" @onclick="ShowCancelConfirm">Cancel Booking</a>
                </div>
                
            </EditForm>
            
        </div>
    </div>
    
</div>

@*Show Reservation Updated Pop Up*@
@if (reservationPopUp)
{
    <div class="modal-backdrop">

        <div class="modal-card" @onclick:stopPropagation>
            <h2 style="color: #88E788">Reservation Updated</h2>

            <div class="reservation-detail">
                <span class="reservation-label">Restaurant:</span>
                <span class="reservation-value">@selectedRestaurant.RestaurantName</span>
            </div>

            <div class="reservation-detail">
                <span class="reservation-label">Location:</span>
                <span class="reservation-value">@selectedRestaurant.Location</span>
            </div>

            <div class="reservation-detail">
                <span class="reservation-label">Timing:</span>
                <span class="reservation-value">
                    @selectedReservation.Date.Value.ToString("dd MMMM yyyy") - @selectedReservation.Time.Value.ToString("h:mm tt")
                </span>
            </div>

            <div class="reservation-detail">
                <span class="reservation-label">Status:</span>
                <span class="reservation-value">@selectedReservation.Status</span>
            </div>

            <div class="reservation-detail">
                <span class="reservation-label">Number of People:</span>
                <span class="reservation-value">@selectedReservation.Pax</span>
            </div>

            <div class="reservation-detail">
                <span class="reservation-label">Remarks:</span>
                <span class="reservation-value">
                    @(string.IsNullOrWhiteSpace(selectedReservation.Remarks) ? "N/A" : selectedReservation.Remarks)
                </span>
            </div>

            <div class="modal-buttons">
                <a class="secondary-btn" href="/MyBookings">
                    Back
                </a>
            </div>
        </div>
    </div>
            

            
}

@*Show Cancel Pop Up*@  
@if (showCancelConfirm)
{
    <div class="modal-backdrop" @onclick="CloseCancelConfirm">

        <div class="modal-card" @onclick:stopPropagation>
            <button class="close-btn" @onclick="CloseCancelConfirm">✕</button>
            <h2 style="color: #88E788">Cancel Booking:</h2>
            <p style="color:white">Are you sure of cancelling this booking?</p>
            <div class="modal-buttons">
                <button class="danger-btn" @onclick="ConfirmCancel">Yes</button>
                <button class="secondary-btn" @onclick="CloseCancelConfirm">No</button>
            </div>
        </div>
    </div>

}

@*Show Cancel Reservation Confirmation Pop Up*@
@if (cancelReservationConfirmationPopUp)
{
    <div class="modal-backdrop">

        <div class="modal-card" @onclick:stopPropagation>
            <h2 style="color: #88E788">Booking Cancelled</h2>
            <p style="color: white">Booking has been successfully cancelled.</p>
            <div class="modal-buttons">
                <a class="secondary-btn" @onclick="CloseCancelReservationConfirmationPopUp">Back</a>
            </div>
        </div>
    </div>

}

@code {
    Restaurant? selectedRestaurant;
    Reservation? selectedReservation;

    [Parameter]
    public int id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        //Get Reservation Details
        using var context = DbFactory.CreateDbContext();
        selectedReservation = context.Reservation.FirstOrDefault(m => m.ReservationID == id);

        if (selectedReservation is null)
        {
            NavigationManager.NavigateTo("notfound");
            return;
        }

        //Get Restaurant Details
        selectedRestaurant = context.Restaurant.FirstOrDefault(x => x.RestaurantID == selectedReservation.RestaurantID);

        if (selectedRestaurant is null)
        {
            NavigationManager.NavigateTo("notfound");
            return;
        }


    }

    public bool reservationPopUp = false;
    //Show Reservation Updated Pop Up
    private void OpenReservationPopUp()
    {
        reservationPopUp = true;
    }
    //Close Reservation Updated Pop Up
    private void CloseReservationPopUp()
    {
        reservationPopUp = false;
        NavigationManager.NavigateTo("/MyBookings" ,forceLoad: true);
    }
    //Edit Reservation in Database
    private async Task EditReservation()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(selectedReservation!).State = EntityState.Modified;
        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ReservationExists(selectedReservation.ReservationID))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        OpenReservationPopUp();

    }
    //Check if Reservation Exists
    private bool ReservationExists(int reservationid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Reservation.Any(e => e.ReservationID == reservationid);
    }

    public bool showCancelConfirm = false;
    //  Show Cancel Confirmation Pop Up
    private void ShowCancelConfirm()
    {
        showCancelConfirm = true;
    }

    // Close Cancel Confirmation Pop Up
    private void CloseCancelConfirm()
    {
        showCancelConfirm = false;
    }
    // Confirm Cancel Reservation
    private async Task ConfirmCancel()
    {
        showCancelConfirm = false;
        using var context = DbFactory.CreateDbContext();
        context.Reservation.Remove(selectedReservation);
        await context.SaveChangesAsync();
        CloseCancelConfirm();
        OpenCancelReservationConfirmationPopUp();

    }

    public bool cancelReservationConfirmationPopUp = false;
    // Show Cancel Reservation Confirmation Pop Up
    private void OpenCancelReservationConfirmationPopUp()
    {
        cancelReservationConfirmationPopUp = true;
    }
    //  Close Cancel Reservation Confirmation Pop Up
    private void CloseCancelReservationConfirmationPopUp()
    {
        cancelReservationConfirmationPopUp = false;
        NavigationManager.NavigateTo("/MyBookings", forceLoad: true);
    }

    // Bind TimeOnly to DateTime for Input Time
    DateTime UiTime
    {
        get => DateTime.Today.Add(selectedReservation.Time.Value.ToTimeSpan());
        set => selectedReservation.Time = TimeOnly.FromDateTime(value);
    }


    // Handle Time Input Change Event
    void OnTimeInput(ChangeEventArgs e)
    {
        if (TimeOnly.TryParse(e.Value?.ToString(), out var time))
        {
            selectedReservation.Time = time;
        }
    }
}
