@*Page For Creating Reservation*@
@attribute [Authorize(Roles = "User,Admin")]

@page "/Reservation/Create/{id:int}"
@using Dinesaur.Domain
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider Auth
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@inject Dinesaur.Data.DinesaurContext DbContext
<div style="display: flex; flex-direction:column">
    @*Banner*@
    <div style="background-color: dimgrey; height: auto; text-align: left; display: flex; flex-direction: column; padding: 20px;">
        <h1 style="padding-top: 100px; text-align: left">@selectedRestaurant.RestaurantName</h1>
                <h2>Book a Reservation</h2>
    </div>
    <div style="padding: 50px 100px">
        <div>
            @*Get Reservation Information*@
            <EditForm Model="@Reservation" OnValidSubmit="AddReservation" FormName="ReservationForm">
                <DataAnnotationsValidator />
                

                <div class="mb-3">
                    <h4>Date:</h4>
                    <InputDate @bind-Value="Reservation.Date"
                               class="form-control"
                               Min="@DateTime.Today" />
                    <ValidationMessage For="@(() => Reservation.Date)" />

                    <h4 class="mt-2">Time: (Hours: @selectedRestaurant.OpeningHours.ToString("hh:mmtt") - @selectedRestaurant.ClosingHours.ToString("hh:mmtt"))</h4>
                    <input type="time"
                           class="form-control"
                           step="900"
                           min="@selectedRestaurant?.OpeningHours.ToString("HH:mm")"
                           max="@selectedRestaurant?.ClosingHours.ToString("HH:mm")"
                           value="@UiTime.ToString("HH:mm")"
                           @onchange="OnTimeInput" />
                    <ValidationMessage For="@(() => Reservation.Time)" />

                    <h4 class="mt-2">Diners (Pax):</h4>
                    <InputNumber @bind-Value="Reservation.Pax"
                                 class="form-control" Min="1"/>
                    <ValidationMessage For="@(() => Reservation.Pax)" />

                    <h4 class="mt-2">Remarks:</h4>
                    <InputText @bind-Value="Reservation.Remarks"
                               class="form-control" />
                </div>

                <ValidationSummary />

                <div style="display: flex; justify-content: flex-end; gap: 10px;">
                    <a class="secondary-btn" href="/Restaurants/@id#start">Back</a>
                    <button type="submit" class="primary-btn">Book</button>
                </div>
            </EditForm>
        </div>
    </div>
    
    @*Show Reservation Details*@
    @if (reservationPopUp)
    {
        <div class="modal-backdrop">

            <div class="modal-card" @onclick:stopPropagation>
                <h2 style="color: #88E788">Reservation Booked!</h2>
                <div class="reservation-detail">
                    <span class="reservation-label">Restaurant:</span>
                    <span class="reservation-value">@selectedRestaurant.RestaurantName</span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Location:</span>
                    <span class="reservation-value">@selectedRestaurant.Location</span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Timing:</span>
                    <span class="reservation-value">
                        @Reservation.Date.Value.ToString("dd MMMM yyyy") - @Reservation.Time.Value.ToString("h:mm tt")
                    </span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Status:</span>
                    <span class="reservation-value">@Reservation.Status</span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Number of People:</span>
                    <span class="reservation-value">@Reservation.Pax</span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Remarks:</span>
                    <span class="reservation-value">
                        @(string.IsNullOrWhiteSpace(Reservation.Remarks) ? "N/A" : Reservation.Remarks)
                    </span>
                </div>
                <div style="margin-top: 20px;">
                    <h5>Do you want to pre-order your food items?</h5>
                    <p style="color:white">Enjoy your food shortly after you arrive</p>
                </div>
                
                <div class="modal-buttons">
                    <a class="primary-btn" href="/Reservation/Create/PreOrder/@Reservation.ReservationID");
                       ">
                        Pre-Order
                    </a>
                    <a class="danger-btn" href="/MyBookings">
                        No
                    </a>
                </div>
            </div>
        </div>



    }
</div>


@code {
    Restaurant? selectedRestaurant;
    [Parameter]
    public int id { get; set; }

    public Reservation Reservation { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        selectedRestaurant = context.Restaurant.FirstOrDefault(x => x.RestaurantID == id);

        var authState = await Auth.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity?.IsAuthenticated ?? true)
        {

            NavigationManager.NavigateTo("/Account/Login");
            return;
        }

        var aspNetUserId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        Reservation.CustomerID = aspNetUserId;

        // Default date
        Reservation.Date = DateTime.Today;
        Reservation.Pax = 1;

        DateTime now = DateTime.Now;

        // Always round UP
        int roundedMinutes = ((now.Minute + 14) / 15) * 15;

        DateTime roundedDateTime = new DateTime(
            now.Year,
            now.Month,
            now.Day,
            now.Hour,
            0,
            0
        ).AddMinutes(roundedMinutes);

        TimeOnly roundedTime = TimeOnly.FromDateTime(roundedDateTime);
        Reservation.Time = roundedTime;

        if (DateTime.Today.Add(roundedTime.ToTimeSpan()) > DateTime.Today.Add(selectedRestaurant.ClosingHours.ToTimeSpan()))
        {
            // If current time is past closing hours, set to opening hours next day
            Reservation.Date = DateTime.Today.AddDays(1);
            Reservation.Time = selectedRestaurant.OpeningHours;
        } else if (DateTime.Today.Add(roundedTime.ToTimeSpan()) < DateTime.Today.Add(selectedRestaurant.OpeningHours.ToTimeSpan()))
        {
            // If current time is before opening hours, set to opening hours today
            Reservation.Time = selectedRestaurant.OpeningHours;
        }

    }

    //Add Reservation to Database
    private async Task AddReservation()
    {
        //Assign Values to properties in Reservation
        @*NormalizeTime();*@
        Reservation.RestaurantID = selectedRestaurant.RestaurantID;
        Reservation.Status = Reservation.ReservationStatus.Pending;
        using var context = DbFactory.CreateDbContext();
        context.Reservation.Add(Reservation);
        await context.SaveChangesAsync();
        OpenReservationPopUp();

    }

    public bool reservationPopUp = false;
    //Show Reservation Details PopUp
    private void OpenReservationPopUp()
    {
        reservationPopUp = true;
    }

    //Close Reservation Details PopUp
    private void CloseReservationPopUp()
    {
        reservationPopUp = false;
        NavigationManager.NavigateTo("/MyBookings", forceLoad: true);
    }

    //Convert TimeOnly to DateTime for Input binding
    DateTime UiTime
    {
        get => DateTime.Today.Add(Reservation.Time.Value.ToTimeSpan());
        set => Reservation.Time = TimeOnly.FromDateTime(value);
    }

    //Handle Time Input Change Event
    void OnTimeInput(ChangeEventArgs e)
    {
        if (TimeOnly.TryParse(e.Value?.ToString(), out var time))
        {
            Reservation.Time = time;
        }
    }


}
