@*Edit / Delete Review*@


@page "/Review/Edit/{id:int}"
@using Dinesaur.Domain
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider Auth
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
<div style="display: flex; flex-direction:column">
    @*Banner*@
    <div style="background-color: dimgrey; height: auto; text-align: left; display: flex; flex-direction: column; padding-left: 50px;">
        <h1 style="padding-top: 100px; text-align: left">@selectedRestaurant?.RestaurantName</h1>
                <h2>Edit Review</h2>
    </div>
    <div style="padding: 50px 100px">
        <div>
            @* Edit Information of Review*@
            <EditForm Model="@selectedReview" OnValidSubmit="EditReview" FormName="EditReview">
                <DataAnnotationsValidator />


                <div class="mb-3">
                    <h4 class="mt-2">Title:</h4>
                    <InputText @bind-Value="selectedReview.ReviewTitle"
                               class="form-control" maxlength="50" />

                    <ValidationMessage For="@(() => selectedReview.ReviewTitle)" />

                    <h4 class="mt-2">Rating:</h4>
                    <div class="rating">
                        @for (int i = 1; i <= 5; i++)
                        {
                            int starValue = i;

                            <span class="star @(selectedReview.Rating >= starValue ? "selected" : "")"
                                  @onclick="() => SetRating(starValue)">
                                ★
                            </span>
                        }
                    </div>
                    <h4 class="mt-2">Comments:</h4>
                    <InputTextArea @bind-Value="selectedReview.Description" maxlength="500"class="input-field" rows="5" style="width: 100%; border-radius: 15px;" />

                </div>

                <ValidationSummary />

                
                <div style="display: flex; justify-content: flex-end; gap: 10px;">
                    <a class="secondary-btn" href="/MyBookings?from=completed">Back</a>
                    <button type="submit" class="primary-btn">Update</button>
                    <a class="danger-btn" @onclick=OpenCancelReviewPopUp">Remove Review</a>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@*Show Review Updated Pop Up*@
@if (reviewUpdatedPopUp)
{
    <div class="modal-backdrop">

        <div class="modal-card" @onclick:stopPropagation>
            <h2 style="color: #88E788">Review Updated</h2>


            <div class="reservation-detail">
                <span class="reservation-label">Title:</span>
                <span class="reservation-value">@selectedReview.ReviewTitle</span>
            </div>

            <div class="reservation-detail">
                <span class="reservation-label">Restaurant:</span>
                <span class="reservation-value">@selectedRestaurant.RestaurantName</span>
            </div>

            <div class="reservation-detail">
                <span class="reservation-label">Reservation Slot:</span>
                <span class="reservation-value">
                    @selectedReservation.Date.Value.ToString("dd MMMM yyyy") - @selectedReservation.Time.Value.ToString("hh:mm tt")
                </span>
            </div>

            <div class="reservation-detail">
                <span class="reservation-label">Rating:</span>
                <span style="color:yellow " class="reservation-value">@selectedReview.Rating ★</span>
            </div>

            <div class="reservation-detail">
                <span class="reservation-label">Description:</span>
                @if (selectedReview.Description.Length > 50)
                {
                    <span class="reservation-value">
                        @(string.IsNullOrWhiteSpace(selectedReview.Description) ? "N/A" : selectedReview.Description.Substring(0, 50))...
                    </span>
                }
                else
                {
                    <span class="reservation-value">
                        @(string.IsNullOrWhiteSpace(selectedReview.Description) ? "N/A" : selectedReview.Description)
                    </span>
                }
            </div>
            
            <div class="modal-buttons">
                <a class="primary-btn" href="/MyBookings?from=completed">Back</a>
            </div>
        </div>
    </div>
}

@*Show Cancel Pop Up*@  
@if (cancelReviewPopUp)
{
    <div class="modal-backdrop" @onclick="CloseCancelReviewPopUp">

        <div class="modal-card" @onclick:stopPropagation>
            <button class="close-btn" @onclick="CloseCancelReviewPopUp">✕</button>
            <h2 style="color: #88E788">Cancel Review:</h2>
            <p style="color:white">Are you sure of removing this review?</p>
            <div class="modal-buttons">
                <button class="danger-btn" @onclick="ConfirmCancel">Yes</button>
                <button class="secondary-btn" @onclick="CloseCancelReviewPopUp">No</button>
            </div>
        </div>
    </div>


}
@*Show Cancel Confirmation Pop Up*@
@if (cancelReviewConfirmationPopUp)
{
    <div class="modal-backdrop">

        <div class="modal-card" @onclick:stopPropagation>
            <h2 style="color: #88E788">Review Removed</h2>
            <p style="color: white">Review has been successfully removed.</p>
            <div class="modal-buttons">
                <a class="secondary-btn" @onclick = "CloseCancelReviewConfirmationPopUp">Back</a>
            </div>
        </div>
    </div>

}

@code {
    Restaurant? selectedRestaurant;
    Reservation? selectedReservation;
    Review? selectedReview;

    [Parameter]
    public int id { get; set; }

    //Load Review, Reservation and Restaurant Information
    protected override async Task OnParametersSetAsync()
    {
        using var context = DbFactory.CreateDbContext();

        selectedReview = context.Review.FirstOrDefault(a => a.ReviewID == id);

        if (selectedReview is null)
        {
            NavigationManager.NavigateTo("notfound");
            return;
        }

        selectedReservation = context.Reservation.FirstOrDefault(m => m.ReviewID == selectedReview.ReviewID);

        if (selectedReservation is null)
        {
            NavigationManager.NavigateTo("notfound");
            return;
        }

        selectedRestaurant = context.Restaurant.FirstOrDefault(x => x.RestaurantID == selectedReview.RestaurantID);

        if (selectedRestaurant is null)
        {
            NavigationManager.NavigateTo("notfound");
            return;
        }


    }

    public bool reviewUpdatedPopUp = false;
    //Show Review Updated Pop Up
    private void OpenReviewUpdatedPopUp()
    {   
        reviewUpdatedPopUp = true;
    }

    //Edit Review in Database
    private async Task EditReview()
    {  
        using var context = DbFactory.CreateDbContext();
        context.Attach(selectedReview!).State = EntityState.Modified;
        await context.SaveChangesAsync();
        OpenReviewUpdatedPopUp();

    }


    public bool cancelReviewPopUp = false;

    // Show Cancel Pop Up
    private void OpenCancelReviewPopUp()
    {
        cancelReviewPopUp = true;
    }

    // Close Cancel Pop Up
    private void CloseCancelReviewPopUp()
    {
        cancelReviewPopUp = false;
    }

    // Confirm Cancel Review
    private async Task ConfirmCancel()
    {
        using var context = DbFactory.CreateDbContext();
        context.Review.Remove(selectedReview);
        selectedReservation.ReviewID = null;
        context.Attach(selectedReservation!).State = EntityState.Modified;
        await context.SaveChangesAsync();
        CloseCancelReviewPopUp();
        OpenCancelReviewConfirmationPopUp();
    }

    public bool cancelReviewConfirmationPopUp = false;

    // Show Cancel Confirmation Pop Up
    private void OpenCancelReviewConfirmationPopUp()
    {
        cancelReviewConfirmationPopUp = true;
    }

    // Close Cancel Confirmation Pop Up
    private void CloseCancelReviewConfirmationPopUp()
    {
        cancelReviewConfirmationPopUp = false;
        NavigationManager.NavigateTo("/MyBookings?from=completed", forceLoad: true);
    }

    @*Set Rating Value*@
    void SetRating(double value)
    {
        selectedReview.Rating = value;
    }
}
